-if notice
  %div.alert.alert-success
    = notice
= link_to accounts_url, :class => "link_back" do
  %i.nc-icon.nc-minimal-left
  Back to Accounts Page

.col-md-10
  =form_for :invite do |f|
    .col-md-12.form-group
      =f.email_field :email, class: 'form-control', placeholder: 'Enter email'
    .col-md-6.form-group
      =f.number_field 'rule[spending_limit]', within: 1...999, class: 'form-control', placeholder: 'Enter limit'
    .col-md-6.form-group
      =check_box_tag 'movable', 'true'
      =label_tag 'movable', 'Fixed remainder'
    .col-md-12.form-group
      =f.submit 'Send invite', :class => 'btn btn-outline-success btn-round btn-sm'
.col-md-12
  %ul
    -@invites.each do |invite|
      %li
        User email:
        =invite.user_to_email
        Invited at:
        =invite.created_at
        =link_to 'Delete invite', account_invite_path(invite.account_id, invite), method: :delete, data: { confirm: 'Are you sure?' }
