%p#notice= notice
= link_to accounts_url, :class => "waves-effect waves-light link_back" do
  %i.material-icons keyboard_arrow_left
  Back to Accounts Page

.col.s12
  =form_for :invite do |f|
    .col.s12
      =f.label 'Enter co-user email'
      =f.email_field :email, placeholder: 'Enter email'
    .col.s6
      =f.label 'Enter limit'
      =f.number_field 'rule[spending_limit]', within: 1...999
    .col.s6
      =check_box_tag 'movable', 'true'
      =label_tag 'movable', 'Fixed remainder'
    .col.s12
      =f.submit 'Send invite'
.col.s12
  %ul
    -@invites.each do |invite|
      %li
        User email:
        =invite.user_to_email
        Invited at:
        =invite.created_at
        =link_to 'Delete invite', account_invite_path(invite.account_id, invite), method: :delete, data: { confirm: 'Are you sure?' }