
%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @profiles.each do |profile|
      %tr
        %td= link_to 'Show', profile
        %td= link_to 'Edit', edit_profile_path(profile)
        %td= link_to 'Destroy', profile, :method => :delete, :data => { :confirm => 'Are you sure?' }

    = render :partial => "accounts/index"

    %div
      %input{:type=>"button", :name=>"account", :value=>"Add Account", :onclick=>"window.location = 'accounts/new';"}
    %div
      %input{:type=>"button", :name=>"account", :value=>"Add Users", :onclick=>"window.location = 'profiles/new';"}

%br

/= link_to 'New Profile', new_profile_path
