// Place all the styles related to the Accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.row{
	margin-bottom: 15px;
}
.iban-info{
	border: 1px solid #d3d3d3;
	border-radius: 4px;
	padding: 15px;
}

.nav-tabs-navigation {
	.nav-tabs{
		border-bottom: none;
	}
	.nav-tabs-wrapper{
		display: block;
	}
}
.details_all,
.details_btn_none{
	display: none;
}