/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require nucleo-icons
 *= require jquery-ui.min
 *= require jquery-ui.theme.min
 *= require accounts
 */

// Import bootstrap

@import "bootstrap/functions";
@import "bootstrap/variables";
$success-color: #7eae04 !default;
$bg-success: darken($success-color, 5%) !default;
$warning-color: #fb9701;
@import "bootstrap/mixins";
@import "bootstrap/print";
@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/images";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";
@import "bootstrap/transitions";
@import "bootstrap/dropdown";
@import "bootstrap/button-group";
@import "bootstrap/input-group";
@import "bootstrap/custom-forms";
@import "bootstrap/nav";
@import "bootstrap/navbar";
@import "bootstrap/card";
@import "bootstrap/breadcrumb";
@import "bootstrap/pagination";
@import "bootstrap/badge";
@import "bootstrap/jumbotron";
@import "bootstrap/alert";
@import "bootstrap/progress";
@import "bootstrap/media";
@import "bootstrap/list-group";
@import "bootstrap/close";
@import "bootstrap/modal";
@import "bootstrap/tooltip";
@import "bootstrap/popover";
@import "bootstrap/carousel";
@import "bootstrap/utilities";

// Import paper-kit

@import "paper-kit/variables";
@import "paper-kit/mixins";

@import "paper-kit/typography";

// Core CSS
@import "paper-kit/misc";
@import "paper-kit/buttons";
@import "paper-kit/inputs";
@import "paper-kit/progress-bars";
@import "paper-kit/sliders";
@import "paper-kit/alerts";
@import "paper-kit/labels";
@import "paper-kit/tooltips-and-popovers";
@import "paper-kit/sections";
@import "paper-kit/checkbox-radio";
@import "paper-kit/navbars";
@import "paper-kit/images";
@import "paper-kit/cards";
@import "paper-kit/footers";


// Bootstrap Switch
@import "paper-kit/bootstrap-switch";

// Fancy Stuff
@import "paper-kit/dropdown";
//
// icons
@import "paper-kit/icons";
//
@import "paper-kit/tabs-navs-pagination";
@import "paper-kit/collapse";
@import "paper-kit/carousel";
@import "paper-kit/modal";
//
@import "paper-kit/responsive";
@import "paper-kit/plugins/datetimepicker";
@import "paper-kit/social-buttons";
@import "paper-kit/examples";


body {
    display: flex;
    flex-direction: column;
    .container {
        flex: 1 auto;
    }
}

/* Nav */



h5.name_user {
  line-height: 56px;
  margin: 0 15px 0 0;
}

.navbar-right {
  p.txt_logout {
    display: none;
  }
  a.logout:hover {
    p.txt_logout {
      display: block;
      margin: 0;
      color: #fff;
    }
  }
}

@media (min-width: 992px) {
.navbar-toggleable-md .navbar-collapse {
    display: -webkit-box!important;
    display: -webkit-flex!important;
    display: -ms-flexbox!important;
    display: flex!important;
    width: 100%;
}
.navbar-toggleable-md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.navbar-toggleable-md .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
.navbar-toggleable-md .navbar-toggler {
    display: none;
}
}

/* Form Sign Up */
input#user_password{
  margin-bottom: 2px;
}
.input-field em#length_pass{
  color: rgba(0, 0, 0, 0.15);
}
.form_auth{
  margin: auto;
  .actions{
    margin-top: 15px;
  }
}

.row.content{
  margin-top: 20px;
}
.table-responsive td,
.table-responsive th{
  text-align: left;
  padding-right: 40px;
  padding-bottom: 8px;
}
#date_from, #date_to{
  width: 100%;
}
table,
.form_block form {
  width: 100%;
}
.hidden-div{
  display: none;
}
.hidden-list{
  display: flex;
  flex-direction: column;
}
button.btn.btn-outline-success.btn-round p{
  margin-bottom: 0;
}

.btn {
  margin-bottom: 10px;
}
