/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Fonts */

@import "https://fonts.googleapis.com/icon?family=Material+Icons";

/* Bootstrap Material */

//@import "bootstrap";


/* General */

body {
    display: flex;
    flex-direction: column;
    .container {
        flex: 1 auto;
    }
}

/* Nav */

.navbar-right {
  position: absolute;
  right: 20px;
  align-items: center;
  a.logout {
    padding: 0 10px;
    width: 60px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

h5.name_user {
  line-height: 56px;
  margin: 0 15px 0 0;
}

.navbar-right {
  p.txt_logout {
    display: none;
  }
  a.logout:hover {
    p.txt_logout {
      display: block;
      margin: 0;
      color: #fff;
    }
    i.material-icons {
      font-size: 22px;
      height: 22px;
      line-height: 22px;
      text-align: center;
      color: #fff;
    }
  }
}

/* Form Sign Up */
input#user_password{
  margin-bottom: 2px;
}
.input-field em#length_pass{
  color: rgba(0, 0, 0, 0.15);
}
.form_auth{
  margin: auto;
}

