%h1 Listing transactions

%table.table-responsive
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @transactions.each do |transaction|
      %tr
        %td= link_to 'Show', account_transactions_path
        /%td= link_to 'Edit', edit_account_transaction_path(@transaction)
        %td= link_to 'Destroy', account_transaction_path, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Transaction', new_account_transaction_path
