/ %ul#slide-out.side-nav
/   %li
/     %a{:href => "/accounts"}
/       Accounts
/ %a.button-collapse{"data-activates" => "slide-out", :href => "#", :style => "display:block;"}
/   %i.material-icons menu

