%ul#slide-out.side-nav 
  / %li.user_name 
  /   #{gravatar_for @user} 
  /   %p #{@user.email}    
  %li
    %a{:href => "/profile"} 
      %i.large.material-icons account_box
      MyProfile
  %li
    %a{:href => "/accounts"} 
      %i.large.material-icons account_balance_wallet
      Accounts
%a.button-collapse.show-on-large{"data-activates" => "slide-out", :href => "#", :style => "display:block;"}
  %i.material-icons menu
          