%p#notice= notice
%h1 #{@account.iban}

%div
  %input{:type=>"button", :name=>"account", :value=>"Add Users", :onclick=>"window.location = 'profiles/new';"}
= link_to 'Edit', edit_account_path(@account)
\|
= link_to 'Back', profiles_path
